name: Deploy terraform backend

on: [push]

permissions:
    id-token: write
    contents: read

jobs:
    deploy-tf-backend:
        runs-on: ubuntu-latest
        steps:
            - name: Azure login
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Azure CLI script
              uses: azure/cli@v2
              with:
                  azcliversion: latest
                  inlineScript: |
                      az account show

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.13"
                  cache: "pip"

            - name: Install Python dependencies
              working-directory: ./remote_ backend_setup
              run: |
                  pip install -r requirements.txt

            - name: Deploy Terraform backend
              working-directory: ./remote_ backend_setup
              run: |
                  python deploy_tf_remote_backend.py
